html {
  font-size: 10px;
  font-family: 'Open Sans', sans-serif;
}

canvas {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

input {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


button {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


h1 {
  font-size: 40px;
  text-align: center;
}

h2 {
  font-size: 20px;
  text-align: center;
}


p, li {
  font-size: 16px;  
  line-height: 2;
  letter-spacing: 1px;
}


html {
  background-color: #483D8B;
}

body {
  width: 600px;
  margin: 0 auto;
  background-color: #F0F8FF;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}

h1 {
  margin: 0;
  padding: 0px 0;  
  text-shadow: 1px 1px 1px black;
  color: #483D8B;
}

h2 {
  margin: 0;
  padding: 20px 0;  
  color: #483D8B;
}


img {
  display: block;
  margin: 0 auto;
}

.button_rand {
    background-color: #483D8B;
    border: none;
    color: #F0F8FF;
    padding: 5px 30px;
    text-align: center;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    /*display: inline-block; */
    /*display: table;*/
    font-size: 15px;
}

.button_input {
    background-color: #483D8B;
    border: none;
    color: #F0F8FF;
    padding: 3px 3px;
    text-align: center;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    /*display: inline-block; */
    /*display: table;*/
    font-size: 15px;
}

.button_run {
    background-color: #28A828;
    border: none;
    color: #F0F8FF;
    padding: 0px 60px;
    text-align: center;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    /*display: inline-block; */
    /*display: table;*/
    font-size: 25px;
}

.results {
    text-align: center;
    /*display: inline-block; */
    /*display: table;*/
    font-size: 15px;
}

.labels {
    text-align: center;
    /*display: inline-block; */
    /*display: table;*/
    font-size: 20px;
}

